## Dimensiones y estructuras

In [ ]:
import pandas as pd
import os

In [ ]:
mainpath = "datasets/" #carpeta global
filename = "titanic/titanic3.csv" #dataset
fullpath = os.path.join(mainpath, filename)
data = pd.read_csv (fullpath)

In [ ]:
data.head() #primeros datos

Ver que se cargaron los datos correctamentes

In [ ]:
data.tail() #ultimos datos

In [ ]:
data.shape #dimension (filas,columnas)

In [ ]:
data.columns.values #cabeceras de las columnas

In [ ]:
data.describe() #estadistica basica de variables numericas 4. Estadistica basica

In [ ]:
data.dtypes #tipo de datos (objetc=string)

## Valores faltantes

In [ ]:
pd.isnull(data["body"]) #valore nulos de la columna body

In [ ]:
pd.notnull(data["body"]) #valore no nulos de la columna body

In [ ]:
pd.isnull(data["body"]).values.ravel().sum() #suma los datos nulos contenidos en el arreglo creado con value.ravel

In [ ]:
pd.notnull(data["body"]).values.ravel().sum()

Los valores faltantes son:

1. Extracci칩n de los datos
2. Recolecci칩n de los datos

## Borrar valores que faltan

In [ ]:
data1 = data

In [ ]:
data1.dropna(axis=0, how="all") #axes=0 borra fila #axes=1 borra columnas 
                             #how=all borra fila si todas las columnas son NaN

In [ ]:
data2=data

In [ ]:
data2.dropna(axis=0,how="any") #borra todas las filas que que tengan al menos un NaN

In [ ]:
data2.dropna(axis=1,how="any") #borra todas las columnas que que tengan al menos un NaN

## C치lculo de variables faltantes

In [ ]:
data3=data

In [ ]:
data3.fillna("Desconocido") #cambiar los NaN por Desconocido

In [ ]:
data4=data
data4

In [ ]:
data4["body"].fillna(0) #reescribir NaN con 0 en la columna body

In [ ]:
data4

In [ ]:
pd.isnull(data["age"]).values.ravel().sum()
data4["age"].fillna(data4["age"].mean()) #remplazar con el promedio

In [ ]:
data4["age"][1305]

In [ ]:
data4["age"].fillna(method="ffill") #valor anterior conocido

In [ ]:
data4["age"].fillna(method="bfill") #valor posterior conocido

## Variables dummy

Crear variables para cada categoria

In [ ]:
data["sex"]

In [ ]:
dummy_sex = pd.get_dummies(data["sex"],prefix="sex") #crea dos columnes dummy para male y female que toman valor 1 y 0
dummy_sex

1. Se elimina la columna original
2. Se agrega la nueva categoria dummy a los datos

In [ ]:
colum_name = data.columns.values.tolist()
colum_name

In [ ]:
data5 = data
data5 = data5.drop(["sex"],axis=1) #quitar columna sex
data5

In [ ]:
pd.concat([data5, dummy_sex], axis = 1) #agregar por columna

# Todo definido en una funci칩n

In [ ]:
def createDummies(df, var_name):
    dummy = pd.get_dummies(df[var_name], prefix=var_name)
    df = df.drop(var_name, axis = 1)
    df = pd.concat([df, dummy ], axis = 1)
    return df

In [ ]:
data6 = data

In [ ]:
createDummies(data6, "sex")